:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%); 
  --very-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1110px;
  margin-top: 35px;
  padding: 55px calc((100% - 1110px) / 2);
}

nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

nav > ul > li > a {
  color: var(--dark-grayish-blue);
  font-size: 15px;
  line-height: 26px;
  width: auto;
}

nav > ul > li > a:hover {
  color: var(--soft-red);
}

main {
  width: 100%;
  max-width: 1110px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "image image new"
  "title info new";
  gap: 28px;
  margin-bottom: 70px;
}

.image {
  grid-area: image;
}

.mobile {
  display: none;
}

.title {
  grid-area: title;
  font-size: 56px;
  font-weight: 900;
  line-height: 56px;
  width: auto;
}

.info {
  grid-area: info;
  color: var(--dark-grayish-blue);
  line-height: 26px;
  width: auto
}

.btn {
  display: inline-block;
  width: 185px;
  height: 48px;
  background-color: var(--soft-red);
  color: var(--very-dark-blue);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 4.4px;
  text-align: center;
  padding: 12px;
  margin-top: 29px;
}

.btn:hover {
  background-color: var(--very-dark-blue);
  color: var(--off-white);
}

.new {
  grid-area: new;
  background-color: var(--very-dark-blue);
  padding: 32px 24px;
}

.new > h2 {
  color: var(--soft-orange);
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  width: auto;
  margin-bottom: 24px;
}

.new a {
  display: inline-block;
  color: var(--off-white);
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  width: auto;
}

.new a:hover {
  color: var(--soft-orange);
}

.new p {
  color: var(--grayish-blue);
  padding-top: 8px;
  margin-bottom: 60px;
}

.numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nums {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

p.num {
  color: var(--soft-red) !important; 
  font-size: 32px;
  font-weight: bold;
  line-height: 32px;
}

.content-num a {
  display: inline-block;
  color: var(--very-dark-blue);
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 9px;
}

.content-num a:hover {
  color: var(--soft-red);
}

.content-num p {
  color: var(--dark-grayish-blue);
  line-height: 26px;
}

.img-num {
  grid-column: span 1;
}

.content-num {
  grid-column: span 2;
}

footer {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 125px;
}

.attribution {
  font-size: 11px; text-align: center;
}

.attribution a {
  color: var(--soft-red);
  font-weight: bold;
}

@media (max-width: 700px) {
  header {
    margin-top: 0;
    padding: 28px 16px;
    width: 100%;
  }

  .logo {
    width: 45px;
  }

  main {
    padding: 0px 16px;
  }

  .title {
    font-size: 40px;
    line-height: 40px;
  }

  .new {
    padding: 24px 20px;
  }

  .new > h2 {
    font-size: 32px;
    line-height: 32px;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .grid {
    grid-template-columns: 100%;
    grid-template-areas:
    "image"
    "title"
    "info"
    "new";
    margin-bottom: 64px;
  }

  .btn {
    margin-top: 24px;
  }

  .numbers {
    flex-direction: column;
  }

  footer {
    padding: 16px;
    margin-bottom: 80px;
    margin-top: 40px;
  }
}
